<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Countries</title>
	<link rel="stylesheet" href="/css/app.css">
</head>
<body>
	<h2>Listado de paises</h2>
	<div>
		<p>Elegí un país:</p>
		<select id="countries">
			<option value="">Elegí un país</option>
		</select>
	</div>

	<div id="contenedor-provincias" style="display: none;">
		<p>Elegí una provicia:</p>
		<select id="provinces"></select>
	</div>

	<script src="/js/countries.js"></script>
</body>
</html>